@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --red: #CC304F;
    --navy-blue: #1f59A3;
    --tan: #D6BA8A;
    --orange: #e76915;
    --green: #334433;
    --background-color: #eaeaea;
    --dull-white: #eeeade;
    --grey: #dad6d6;
    --p-width: 80%;
    --p-size: 18px;
    --p-height: 30px;
}

@media only screen and (min-width: 512px) {
    :root {
        --p-width: 70%;
    }
}

@media only screen and (min-width: 768px) {
    :root {
        --p-width: 64%;
        --p-size: 20px;
    }
}

@media only screen and (min-width: 992px) {
    :root {
        --p-width: 60%;
        --p-size: 22px;
        --p-height: 36px;
    }
}

@media only screen and (min-width: 1200px) {
    :root {
        --p-size: 24px;
        --p-height: 38px;
    }
}

body {
    background-color: var(--background-color);
}

html {
    overflow-x: hidden;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 16px;
}

/* Scroll */
::-webkit-scrollbar {
    width: 14px;
}
  
::-webkit-scrollbar-track {
    background: var(--background-color);
}
  
::-webkit-scrollbar-thumb {
    background: var(--red);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #aa233e;
}


/* NAV */

nav {
    width: 100vw;
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
}

.mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

nav, .mobile {
    height: 70px;
}

a {
    color: black;
    text-decoration: none;
}

p, li {
    font-size: 18px;
    line-height: 28px;
}

.full, .top {
    display: none;
}

.menu {
    font-size: 54px;
    cursor: pointer;
}

.nav-logo {
    width: 50vw;
    height: auto;
    object-fit: contain;
}

.mobile-popup {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--navy-blue);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}

.mobile-popup a {
    font-size: 24px;
    color: white;
}

.close {
    position: absolute;
    right: 0;
    margin: 4px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

nav ul {
    margin-left: 24px;
}

nav li {
    list-style: none;
    margin: 12px 0;
}

nav li a {
    transition: text-decoration 0.4s;
    -webkit-transition: text-decoration 0.4s;
    -moz-transition: text-decoration 0.4s;
    -ms-transition: text-decoration 0.4s;
    -o-transition: text-decoration 0.4s;
    color: var(--dull-white);
}

nav li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--red);
    -moz-text-decoration-color: var(--red);
}

@media only screen and (min-width: 512px) {
    .nav-logo {
        width: 40vw;
    }
    nav, .mobile {
        height: 80px;
    }
    .menu {
        font-size: 64px;
        margin-right: 10px
    }
    .close {
        font-size: 50px;
        margin: 6px;
    }
}

@media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
    .full {
        display: block;
        width: 100vw;
    }
    nav, .bottom {
        height: 90px;
    }
    nav .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav .bottom ul {
        display: flex;
        margin-right: 20px;
    }
    nav .bottom li {
        margin: 0 8px;
        font-size: 21.7px;
    }
    .nav-logo {
        width: 32vw;
    }
}

@media only screen and (min-width: 992px) {
    nav {
        height: 120px;
    }
    .top {
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;
    }
    .bottom {
        height: 60px;
    }
    .bottom .nav-logo {
        display: none;
    }
    .nav-logo {
        width: 20vw;
        margin-top: 16px;
    }
    .bottom ul {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    nav .bottom li {
        font-size: 24px;
        margin: 0 18px;
    }  
}

@media only screen and (min-width: 1200px) {
    .nav-logo {
        width: 15vw;
    }
}




/* Carousel */

.carousel {
    text-align: center;
    margin: 160px 0 40px 0;
    z-index: -1;
    display: flex;
    background: rgba(187, 187, 187, .5);
    margin-left: 13px;
    margin-right: 13px;
    padding: 13px;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
}

.carousel i {
    margin: 0 6px;
    cursor: pointer;
}

.carousel i:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    color: var(--green)
}

.dummy-carousel-img, .carousel-img {
    width: 80vw;
    height: 100%;
}

.dummy-carousel-img {
    opacity: 0;
}

.carousel-img-container {
    position: relative;
}

.carousel-img-container .carousel-img {
    position: absolute;
    left: 0;
}

.carousel-img {
    transition: opacity 0.9s;
    -webkit-transition: opacity 0.9s;
    -moz-transition: opacity 0.9s;
    -ms-transition: opacity 0.9s;
    -o-transition: opacity 0.9s;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    box-shadow: 6px 6px 3px rgb(51, 49, 49);
}

.carousel p {
    width: var(--p-width);
    font-size: var(--p-size);
    line-height: var(--p-height);
    margin: 20px auto;
}

@media only screen and (min-width: 512px) {
    .carousel i {
        font-size: 30px;
    }
    .dummy-carousel-img, .carousel-img {
        width: 75vw;
    }
}

@media only screen and (min-width: 768px) {
    .carousel i {
        font-size: 40px;
    }
    .dummy-carousel-img, .carousel-img {
        width: 70vw;
    }
    .carousel p {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 992px) {
    .carousel i {
        font-size: 42px;
    }
    .dummy-carousel-img, .carousel-img {
        width: 64vw;
    }
}

@media only screen and (min-width: 1200px) {
    .carousel i {
        font-size: 48px;
    }
    .dummy-carousel-img, .carousel-img {
        width: 54vw;
    }
}

/* What is BPA */

.what {
    text-align: center;
}

.what h2 {
    font-size: 36px;
}

.what p {
    width: var(--p-width);
    font-size: var(--p-size);
    line-height: var(--p-height);
    margin: 20px auto;
}


/* Announcements  */

.announcements {
    margin: 0 12px 60px 12px;
}

.announcements h2, .links h2, .advisors h2 {
    text-align: center;
    font-size: 36px;
}

.announcements ul {
    list-style-type: disc;
    margin-left: 30px;
}

.announcements li {
    margin: 10px 0;
    font-size: 20px;
}

@media only screen and (min-width: 512px) {
    .announcements ul {
        margin-left: 0px;
        margin-top: 18px;
    }
    .announcements {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .announcements li {
        margin: 12px 0;
        font-size: 22px;
    }
}

@media only screen and (min-width: 768px) {
    .announcements h2 {
        font-size: 42px;
    }
    .announcements li {
        margin: 16px 0;
        font-size: 24px;
    }
}


/* Advisors  */


/* links */

.link-container {
    text-align: center;
    margin-bottom: 60px;
}

.link-container a {
    display: block;
    margin: 12px auto;
    font-size: 18px;
    color: rgb(1, 6, 61);
    width: fit-content;
}

.link-container a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 512px) {
    .link-container a {
        font-size: 22px;
    }
}

@media only screen and (min-width: 512px) {

}


/* footer */

footer {
    height: 40vh;
    background-color: var(--green);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul {
    list-style-type: none;
}

footer li{
    font-size: 24px;
    margin: 10px;
}

footer a {
    transition: text-decoration 0.4s;
    -webkit-transition: text-decoration 0.4s;
    -moz-transition: text-decoration 0.4s;
    -ms-transition: text-decoration 0.4s;
    -o-transition: text-decoration 0.4s;
}

footer a:hover {
    text-decoration: underline;
    text-decoration-color: var(--red);
    -moz-text-decoration-color: var(--red);
}

footer .logo img {
    width: 100px;
    cursor: pointer;
}